# Last FM hometask <br>
https://www.kaggle.com/ravichaubey1506/lastfm <br>
1. Выбрать данные по странам своей группы (совместно): <br>
    3530203_70101: Germany, Netherlands <br>
    3530203_70102: Belarus, Ukraine, Poland, Russian Federation<br>
    3530903_70301: Sweden, Finland, Norway, Denmark, Iceland<br>
    3530903_70302: Spain, Portugal, France, Italy, Belgium<br>
    
2. Попытаться найти полезные с точки зрения продвижения групп (или еще чего-нибудь) и нетривиальные правила, используя алгоритмы Apriori, FPGrowth, FPMax и всевозможные метрики. Хотя бы 5 правил.
3. Вывести эти правила в отдельных ячейках. 
4. Подумать, как можно было бы использовать полученные правила.

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("lastfm.csv")
data.head()

   user                   artist sex  country
0     1    red hot chili peppers   f  Germany
1     1  the black dahlia murder   f  Germany
2     1                goldfrapp   f  Germany
3     1         dropkick murphys   f  Germany
4     1                 le tigre   f  Germany

In [7]:
data = data[data.country.isin(['Spain', 'Portugal', 'France', 'Italy', 'Belgium'])]
data.head()

    user         artist sex   country
83     6     lily allen   m  Portugal
84     6     kanye west   m  Portugal
85     6      sigur rós   m  Portugal
86     6     pink floyd   m  Portugal
87     6  stevie wonder   m  Portugal

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27214 entries, 83 to 289762
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user     27214 non-null  int64
 1   artist   27214 non-null  object
 2   sex      27214 non-null  object
 3   country  27214 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.0+ MB

In [9]:
pvt = data.drop(columns=['country','sex']).pivot_table(index=['user'], columns=['artist'],aggfunc=any, fill_value=False).astype(int)
pvt

artist,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wilco,within temptation,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf
user,,,,,,,,,,,,,,,,,,,,,
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
74,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19704,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19707,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
user_sex = data.drop_duplicates(['user','sex'])[['user','sex']]
user_sex['f'] = user_sex.apply(lambda x: 0 if x['sex']=='m' else 1, axis=1)
user_sex['m'] = user_sex.apply(lambda x: 1 if x['sex']=='m' else 0, axis=1)
user_sex = user_sex.drop(columns=['sex'])
pvt2 = pvt.merge(user_sex, left_on='user', right_on='user').set_index(['user'])
pvt2

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
74,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19704,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19707,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
from mlxtend.frequent_patterns import apriori, association_rules
frequent_itemsets = apriori(pvt2, min_support=0.02, use_colnames=True).sort_values(by='support', ascending=False, na_position='last')
frequent_itemsets

      support                     itemsets
281  0.780127                          (m)
209  0.237491                  (radiohead)
280  0.219873                          (f)
741  0.193094               (radiohead, m)
60   0.188161                   (coldplay)
..        ...                          ...
927  0.020437  (m, the killers, daft punk)
461  0.020437      (placebo, depeche mode)
923  0.020437      (daft punk, m, justice)
492  0.020437    (metallica, foo fighters)
0    0.020437               (3 doors down)

[1059 rows x 2 columns]

In [12]:
rules_confidence = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3).sort_values(by='confidence', ascending=False, na_position='last')
rules_confidence

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
626,"(metallica, radiohead)",(m),0.024665,0.780127,0.024665,1.000000,1.281843,0.005423,inf
345,"(pink floyd, metallica)",(m),0.031712,0.780127,0.031008,0.977778,1.253357,0.006268,9.894292
449,"(metallica, led zeppelin)",(m),0.028894,0.780127,0.028189,0.975610,1.250578,0.005648,9.014799
700,(frank zappa),(m),0.024665,0.780127,0.023961,0.971429,1.245219,0.004719,7.695560
777,(isis),(m),0.023961,0.780127,0.023256,0.970588,1.244142,0.004564,7.475687
...,...,...,...,...,...,...,...,...,...
912,(the rolling stones),"(radiohead, m)",0.072586,0.193094,0.021846,0.300971,1.558678,0.007830,1.154324
694,(interpol),(placebo),0.079634,0.098661,0.023961,0.300885,3.049684,0.016104,1.289257
693,(interpol),(the cure),0.079634,0.103594,0.023961,0.300885,2.904461,0.015711,1.282201
397,(led zeppelin),(nirvana),0.098661,0.124736,0.029598,0.300000,2.405085,0.017292,1.250378
967,"(radiohead, the beatles)",(led zeppelin),0.070472,0.098661,0.021142,0.300000,3.040714,0.014189,1.287627

In [22]:
# нет цели определять пол по списку исполнителей
rules_confidence2 = rules_confidence[(rules_confidence['consequents'] != frozenset('m')) & (rules_confidence['consequents'] != frozenset('f'))]
rules_confidence3 = rules_confidence2[rules_confidence2['consequent support'] < 0.1]
rules_confidence3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1108,"(kaiser chiefs, the killers)",(franz ferdinand),0.031008,0.095842,0.020437,0.659091,6.876838,0.017465,2.652196
919,"(the killers, bloc party)",(the strokes),0.035236,0.087385,0.021846,0.620000,7.095000,0.018767,2.401617
744,"(the strokes, muse)",(interpol),0.038055,0.079634,0.023256,0.611111,7.674041,0.020225,2.366657
363,(kaiser chiefs),(franz ferdinand),0.050740,0.095842,0.030303,0.597222,6.231311,0.025440,2.244806
1034,"(editors, m)",(interpol),0.035236,0.079634,0.020437,0.580000,7.283363,0.017631,2.191349
...,...,...,...,...,...,...,...,...,...
890,"(franz ferdinand, m)",(kaiser chiefs),0.071882,0.050740,0.021846,0.303922,5.989788,0.018199,1.363726
1089,"(moby, m)",(massive attack),0.067653,0.088090,0.020437,0.302083,3.429250,0.014477,1.306617
1061,"(m, bloc party)",(franz ferdinand),0.067653,0.095842,0.020437,0.302083,3.151884,0.013953,1.295510
694,(interpol),(placebo),0.079634,0.098661,0.023961,0.300885,3.049684,0.016104,1.289257
967,"(radiohead, the beatles)",(led zeppelin),0.070472,0.098661,0.021142,0.300000,3.040714,0.014189,1.287627

In [19]:
rules_confidence3[rules_confidence3.index == 1108]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1108,"(kaiser chiefs, the killers)",(franz ferdinand),0.031008,0.095842,0.020437,0.659091,6.876838,0.017465,2.652196

In [20]:
rules_lift = association_rules(frequent_itemsets, metric="lift", min_threshold=0.3).sort_values(by='lift', ascending=False, na_position='last')
rules_lift

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2529,(kaiser chiefs),"(franz ferdinand, the killers)",0.050740,0.040169,0.020437,0.402778,10.027047,0.018399,1.607159
2524,"(franz ferdinand, the killers)",(kaiser chiefs),0.040169,0.050740,0.020437,0.508772,10.027047,0.018399,1.932422
1888,(megadeth),(iron maiden),0.038760,0.073291,0.021846,0.563636,7.690385,0.019006,2.123708
1889,(iron maiden),(megadeth),0.073291,0.038760,0.021846,0.298077,7.690385,0.019006,1.369438
1606,(interpol),"(the strokes, muse)",0.079634,0.038055,0.023256,0.292035,7.674041,0.020225,1.358747
...,...,...,...,...,...,...,...,...,...
1493,(m),(fall out boy),0.780127,0.038760,0.023961,0.030714,0.792412,-0.006277,0.991699
1580,(m),(norah jones),0.780127,0.038055,0.023256,0.029810,0.783348,-0.006432,0.991502
1581,(norah jones),(m),0.038055,0.780127,0.023256,0.611111,0.783348,-0.006432,0.565388
2505,(m),(britney spears),0.780127,0.034531,0.020437,0.026197,0.758642,-0.006502,0.991441
2504,(britney spears),(m),0.034531,0.780127,0.020437,0.591837,0.758642,-0.006502,0.538689

In [23]:
rules_lift2 = rules_lift[(rules_lift['consequents'] != frozenset('m')) & (rules_lift['consequents'] != frozenset('f'))]
rules_lift3 = rules_lift2[rules_lift2['consequent support'] < 0.1]
rules_lift3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2529,(kaiser chiefs),"(franz ferdinand, the killers)",0.050740,0.040169,0.020437,0.402778,10.027047,0.018399,1.607159
2524,"(franz ferdinand, the killers)",(kaiser chiefs),0.040169,0.050740,0.020437,0.508772,10.027047,0.018399,1.932422
1888,(megadeth),(iron maiden),0.038760,0.073291,0.021846,0.563636,7.690385,0.019006,2.123708
1889,(iron maiden),(megadeth),0.073291,0.038760,0.021846,0.298077,7.690385,0.019006,1.369438
1606,(interpol),"(the strokes, muse)",0.079634,0.038055,0.023256,0.292035,7.674041,0.020225,1.358747
...,...,...,...,...,...,...,...,...,...
2477,(m),(beyoncé),0.780127,0.032417,0.020437,0.026197,0.808118,-0.004853,0.993612
377,(m),(the kooks),0.780127,0.058492,0.036646,0.046974,0.803082,-0.008986,0.987914
1493,(m),(fall out boy),0.780127,0.038760,0.023961,0.030714,0.792412,-0.006277,0.991699
1580,(m),(norah jones),0.780127,0.038055,0.023256,0.029810,0.783348,-0.006432,0.991502
2505,(m),(britney spears),0.780127,0.034531,0.020437,0.026197,0.758642,-0.006502,0.991441

In [29]:
rules_leverage = association_rules(frequent_itemsets, metric="leverage", min_threshold=0.01).sort_values(by='leverage', ascending=False, na_position='last')
rules_leverage

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,(muse),(radiohead),0.174066,0.237491,0.080338,0.461538,1.943392,0.038999,1.416088
6,(radiohead),(muse),0.237491,0.174066,0.080338,0.338279,1.943392,0.038999,1.248160
4,(radiohead),(coldplay),0.237491,0.188161,0.083157,0.350148,1.860901,0.038471,1.249269
5,(coldplay),(radiohead),0.188161,0.237491,0.083157,0.441948,1.860901,0.038471,1.366375
11,(muse),(coldplay),0.174066,0.188161,0.068358,0.392713,2.087113,0.035606,1.336829
...,...,...,...,...,...,...,...,...,...
1198,"(moby, m)",(muse),0.067653,0.174066,0.021846,0.322917,1.855137,0.010070,1.219841
910,"(foo fighters, m)",(radiohead),0.058492,0.237491,0.023961,0.409639,1.724858,0.010069,1.291597
913,(radiohead),"(foo fighters, m)",0.237491,0.058492,0.023961,0.100890,1.724858,0.010069,1.047156
331,(placebo),(f),0.098661,0.219873,0.031712,0.321429,1.461882,0.010020,1.149661
330,(f),(placebo),0.219873,0.098661,0.031712,0.144231,1.461882,0.010020,1.053250

In [30]:
rules_leverage2 = rules_leverage[(rules_leverage['consequents'] != frozenset('m')) & (rules_leverage['consequents'] != frozenset('f'))]
rules_leverage3 = rules_leverage2[rules_leverage2['consequent support'] < 0.1]
rules_leverage3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
45,(coldplay),(oasis),0.188161,0.083157,0.047921,0.254682,3.062655,0.032274,1.230136
64,(pink floyd),(led zeppelin),0.130374,0.098661,0.045102,0.345946,3.506409,0.032239,1.378080
118,(metallica),(iron maiden),0.123326,0.073291,0.039464,0.320000,4.366154,0.030426,1.362807
113,(the killers),(the strokes),0.109937,0.087385,0.039464,0.358974,4.107940,0.029858,1.423679
111,(the killers),(franz ferdinand),0.109937,0.095842,0.040169,0.365385,3.812359,0.029633,1.424734
...,...,...,...,...,...,...,...,...,...
1287,(radiohead),"(gorillaz, m)",0.237491,0.046512,0.021142,0.089021,1.913947,0.010096,1.046663
1482,(metallica),(linkin park),0.123326,0.083862,0.020437,0.165714,1.976038,0.010095,1.098111
1201,(muse),"(moby, m)",0.174066,0.067653,0.021846,0.125506,1.855137,0.010070,1.066156
913,(radiohead),"(foo fighters, m)",0.237491,0.058492,0.023961,0.100890,1.724858,0.010069,1.047156
330,(f),(placebo),0.219873,0.098661,0.031712,0.144231,1.461882,0.010020,1.053250

In [31]:
rules_leverage3[rules_leverage3.index == 45]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
45,(coldplay),(oasis),0.188161,0.083157,0.047921,0.254682,3.062655,0.032274,1.230136

In [25]:
rules_conviction = association_rules(frequent_itemsets, metric="conviction", min_threshold=0.01).sort_values(by='conviction', ascending=False, na_position='last')
rules_conviction

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1308,"(metallica, radiohead)",(m),0.024665,0.780127,0.024665,1.000000,1.281843,0.005423,inf
1165,"(keane, m)",(coldplay),0.028189,0.188161,0.026075,0.925000,4.916011,0.020771,10.824524
675,"(pink floyd, metallica)",(m),0.031712,0.780127,0.031008,0.977778,1.253357,0.006268,9.894292
921,"(metallica, led zeppelin)",(m),0.028894,0.780127,0.028189,0.975610,1.250578,0.005648,9.014799
1478,(frank zappa),(m),0.024665,0.780127,0.023961,0.971429,1.245219,0.004719,7.695560
...,...,...,...,...,...,...,...,...,...
2476,(beyoncé),(m),0.032417,0.780127,0.020437,0.630435,0.808118,-0.004853,0.594951
376,(the kooks),(m),0.058492,0.780127,0.036646,0.626506,0.803082,-0.008986,0.588693
1492,(fall out boy),(m),0.038760,0.780127,0.023961,0.618182,0.792412,-0.006277,0.575858
1581,(norah jones),(m),0.038055,0.780127,0.023256,0.611111,0.783348,-0.006432,0.565388
2504,(britney spears),(m),0.034531,0.780127,0.020437,0.591837,0.758642,-0.006502,0.538689

In [27]:
rules_conviction2 = rules_conviction[(rules_conviction['consequents'] != frozenset('m')) & (rules_conviction['consequents'] != frozenset('f'))]
rules_conviction3 = rules_conviction2[rules_conviction2['consequent support'] < 0.1]
rules_conviction3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2526,"(kaiser chiefs, the killers)",(franz ferdinand),0.031008,0.095842,0.020437,0.659091,6.876838,0.017465,2.652196
2026,"(the killers, bloc party)",(the strokes),0.035236,0.087385,0.021846,0.620000,7.095000,0.018767,2.401617
1603,"(the strokes, muse)",(interpol),0.038055,0.079634,0.023256,0.611111,7.674041,0.020225,2.366657
717,(kaiser chiefs),(franz ferdinand),0.050740,0.095842,0.030303,0.597222,6.231311,0.025440,2.244806
2333,"(editors, m)",(interpol),0.035236,0.079634,0.020437,0.580000,7.283363,0.017631,2.191349
...,...,...,...,...,...,...,...,...,...
286,(m),(joy division),0.780127,0.060606,0.039464,0.050587,0.834688,-0.007816,0.989447
377,(m),(the kooks),0.780127,0.058492,0.036646,0.046974,0.803082,-0.008986,0.987914
184,(m),(death cab for cutie),0.780127,0.069767,0.045102,0.057814,0.828666,-0.009325,0.987313
55,(m),(placebo),0.780127,0.098661,0.066949,0.085818,0.869822,-0.010020,0.985951
91,(m),(amy winehouse),0.780127,0.090204,0.059901,0.076784,0.851224,-0.010470,0.985464

In [32]:
rules_conviction3[rules_conviction3.index == 2526]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2526,"(kaiser chiefs, the killers)",(franz ferdinand),0.031008,0.095842,0.020437,0.659091,6.876838,0.017465,2.652196

In [156]:
res = fpgrowth(pvt, min_support=0.01).sort_values(by='support', ascending=False, na_position='last')
res

       support         itemsets
53    0.237491            (694)
193   0.188161            (200)
0     0.174066            (595)
23    0.174066            (837)
1     0.130374            (674)
...        ...              ...
2566  0.010571  (632, 130, 595)
1048  0.010571  (505, 683, 694)
1044  0.010571       (344, 683)
1038  0.010571        (683, 69)
3474  0.010571  (632, 200, 799)

[3475 rows x 2 columns]

In [157]:
res2 = fpmax(pvt, min_support=0.01).sort_values(by='support', ascending=False, na_position='last')
res2
#это типа индексы исполнителей или хде?

       support         itemsets
772   0.041579              (9)
567   0.031712            (770)
546   0.031008            (307)
518   0.029598            (116)
1997  0.027484       (200, 690)
...        ...              ...
977   0.010571       (595, 916)
976   0.010571       (227, 916)
970   0.010571        (60, 837)
1802  0.010571  (915, 549, 694)
0     0.010571            (824)

[2287 rows x 2 columns]